html, body {
     font-family: Raleway;
     font-size: 16px;
     color: #dfdfdf;
     background-color: #1A3A59;
     scroll-behavior: smooth;
}
 ::-webkit-scrollbar {
     width: 5px;
     background-color: #00000000;
}
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #FFFFFF;
}
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #00000000;
}

.typed-cursor {
    font-size: 30px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

 a {
     color: #4CAEFF;
}
 a:hover {
     color: #ADDAFF;
	 cursor: pointer;
}
 section {
     padding-top: 3rem;
     padding-bottom: 3rem;
}
 .projects_div, h6 {
     text-align: center;
}
 .hidden, #bars {
     display: none;
}
 .section-1 {
     background: #1A3A59;
}
 .section-2 {
     background-color: #193454;
}
 .section-3 {
     background-color: #1A3A59;
}
 .section-4 {
     background-color: #193454;
}
 .section-5 {
     background-color: #193454;
     padding: 0.2rem;
}
 .sticky {
     background-color: #1A3A59f1;
     position: sticky;
     top: 0;
     border-radius: 15px;
}
 a.nav-item {
     padding: 20px 12px;
     display: inline-flex;
     color: #dfdfdf;
}
 a.nav-item:hover {
     color: #fff;
     transform: scale(1.1);
     transition: 0.25s
}
 .avatar {
     height:200px;
     border-radius: 50%;
}
 .popup:hover {
     transform: scale(1.1);
     transition: 0.25s
}
 .intro-description {
     padding-top: 1rem;
}
 .social-container img {
     max-width:100%;
     max-height:175px;
     margin-bottom:15px;
}
 .social-icons {
     max-width: 35%;
     max-height: 35%;
}
 .project-figure {
     margin: 0 auto 1rem auto;
     max-height: 256px;
     max-width: 256px;
}
 .project-text {
     text-align: justify;
}
 .box {
     background-color: transparent;
     border: 2px solid rgba(7, 59, 79, 0.5);
}
.title {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}
.subtitle {
    color: #fff;
    text-align: center;
    font-size: 1.25em;
}
 .intro {
	 font-size: 1.1rem;
     text-align: center;
}
 .void-background {
     background-color: transparent;
}
 #photo {
     margin: 0 auto;
     width: 5%;
     height: 5%;
}
#backTop {
  padding: 20px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 10px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 99;
  background-color: #1A3A5981;
  cursor: pointer;
}
#contact {
	text-align: center;
  /*
  padding: 50px 0;
  border: 1px solid;
  border-radius: 10px;
  border-color: #489ACC;
  */
}
#contact input, textarea {
	width: 65%;
	border-radius: 5px;
  border: 0;
	padding: 10px;
	color: white;
  font-size: 1.1rem;
	background-color: #1A3A59;
}
#contact textarea {
	height: 100px;
	resize: none;
}
#contact button {
	width: 40%;
  height: 45px;
	background: #1E74D2;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	border: none;
  font-size: 1.01rem;
	cursor: pointer;
}
#contact button:hover {
  background: #1E64C8;
}
#contact label {
  width: 65%;
	border-radius: 5px;
  position: relative;
  display: inline-block;
  background-color: #1A3A59;
}
#contact label > span span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  cursor: text;
  color: #99AABB;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
}
#contact label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
  transform: scale(0.65) translateY(-50px);
}
#contact .is-empty, .field {
  width: 100%;
  outline: none;
  display: block;
  transition: opacity 200ms ease-in-out;
}
#contact .field::-webkit-input-placeholder { color: #8898AA; }
#contact .field::-moz-placeholder { color: #8898AA; }
#contact .field:-ms-input-placeholder { color: #8898AA; }
#contact .field.is-empty:not(.is-focused) {
  opacity: 0;
}
#captchaError {
  display: none;
  color: red;
}
#contact .g-recaptcha > div {
	display: inline-block;
	margin: 20px 0;
}
 @media screen and (max-width: 800px) {
   /* Side Nav CSS */
   #navLinks {
     padding-top: 60px;
     display: block;
   }
   #bars {
     margin: 20px;
     display: block;
     cursor: pointer;
   }
   .sidenav {
     width: 100%;
     height: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #1A3A59F1;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 0;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
   }
   .sidenav a {
     padding: 10px;
     text-decoration: none;
     font-size: 20px;
     color: #B1B1B1;
     display: block;
     transition: 0.5s;
   }
   .sidenav a:hover {
     color: #F1F1F1;
   }
   .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   .social-icons {
        width: 25%;
        height: 25%;
   }
    #photo {
        width: 25%;
        height: 25%;
   }
   /* OLD NAV
     .nav-menu {
         background-color: #1A3A59;
    }
     .nav-toggle:hover {
         background-color: transparent;
    }
     .nav-toggle span {
         background-color: #dfdfdf;
    }
     .nav-toggle span:hover {
         background-color: #fff;
    }
     a.nav-item:hover {
         transform: scale(1.02);
    }
    */
}

/* Sidenav CSS
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
