html, body {
     font-family: Raleway;
     font-size: 16px;
     color: #dfdfdf;
     background-color: #063647;
     scroll-behavior: smooth;
}
 ::-webkit-scrollbar {
     width: 5px;
     background-color: #00000000;
}
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #FFFFFF;
}
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #00000000;
}

.typed-cursor {
    font-size: 30px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

 a {
     color: #00bfa5;
}
 a:hover {
     color: #5df2d6;
	   cursor: pointer;
}
 section {
     padding-top: 3rem;
     padding-bottom: 3rem;
}
 .projects_div, h6 {
     text-align: center;
}
 .hidden, #bars {
     display: none;
}
 .section-1 {
     background: #063647;
}
 .section-2 {
     background-color: #052D3D;
}
 .section-3 {
     background-color: #063647;
}
 .section-4 {
     background-color: #052D3D;
}
 .section-5 {
     background-color: #052D3D;
     padding: 0.2rem;
}
 .sticky {
     background: #063647;
     position: sticky;
     top: 0;
     border-radius: 15px;
}
 a.nav-item {
     padding: 20px 12px;
     display: inline-flex;
     color: #dfdfdf;
}
 a.nav-item:hover {
     color: #fff;
     transform: scale(1.1);
     transition: 0.25s
}
 .avatar {
     height:200px;
     border-radius: 50%;
}
 .popup:hover {
     transform: scale(1.1);
     transition: 0.25s
}
 .intro-description {
     padding-top: 1rem;
}
 .social-container img {
     max-width:100%;
     max-height:175px;
     margin-bottom:15px;
}
 .social-icons {
     max-width: 35%;
     max-height: 35%;
}
 .project-figure {
     margin: 0 auto 1rem auto;
     max-height: 256px;
     max-width: 256px;
}
 .project-text {
     text-align: justify;
}
 .box {
     background-color: transparent;
     border: 2px solid rgba(7, 59, 79, 0.5);
}
.title {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}
.subtitle {
    color: #fff;
    text-align: center;
    font-size: 1.7em;
}
 .intro {
     text-align: justify;
     width: 80%;
     margin: 0 auto;
}
 .void-background {
     background-color: transparent;
}
#ryerson {
	font-size: 1.25em;
}
 #photo {
     margin: 0 auto;
     width: 5%;
     height: 5%;
}
#backTop {
  padding: 20px;
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 10px;
  float: right;
  position: fixed;
  bottom: 0;
  background-color: #053f4ff1;
  cursor: pointer;
}
 @media screen and (max-width: 800px) {
   /* Side Nav CSS */
   #navLinks {
     padding-top: 60px;
     display: block;
   }
   #bars {
     margin: 20px;
     display: block;
     cursor: pointer;
   }
   .sidenav {
     width: 100%;
     height: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #053f4ff1;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 0;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
   }
   .sidenav a {
     padding: 10px;
     text-decoration: none;
     font-size: 20px;
     color: #B1B1B1;
     display: block;
     transition: 0.5s;
   }
   .sidenav a:hover {
     color: #f1f1f1;
   }
   .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   .social-icons {
        width: 25%;
        height: 25%;
   }
    #photo {
        width: 25%;
        height: 25%;
   }
   /* OLD NAV
     .nav-menu {
         background-color: #063647;
    }
     .nav-toggle:hover {
         background-color: transparent;
    }
     .nav-toggle span {
         background-color: #dfdfdf;
    }
     .nav-toggle span:hover {
         background-color: #fff;
    }
     a.nav-item:hover {
         transform: scale(1.02);
    }
    */
}

/* Sidenav CSS
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
