html, body {
     font-family: Raleway;
     font-size: 16px;
     color: #dfdfdf;
     background-color: #1A3A59;
	 text-align: center;
     scroll-behavior: smooth;
}
 ::-webkit-scrollbar {
     width: 7px;
     background-color: #00000000;
}
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #FFFFFF;
}
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #00000000;
}
.typed-cursor {
    font-size: 30px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
a {
     color: #4CAEFF;
	 text-decoration: none !important;
}
 a:hover {
     color: #ADDAFF;
	 cursor: pointer;
}
.hidden, #bars {
     display: none;
}
section {
     padding-top: 2rem;
     padding-bottom: 2rem;
}
.section-1, .section-3 {
     background: #1A3A59;
}
.section-2, .section-4, .section-5 {
     background-color: #193454;
}
.sticky {
     background-color: #1A3A59f1;
     position: sticky;
     top: 0;
     border-radius: 15px;
}
.icon {
    font-size: 25px;
    line-height: 1rem;
    width: 1.5rem;
}
.nav {
    min-height: 3.5rem;
    text-align: center;
	list-style: none;
    z-index: 2;
}
.nav-toggle span, a {
    transition: none 86ms ease-out;
}
.nav, .nav-center {
    align-items: stretch;
    display: flex;
}
.nav-left {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}
.nav-right {
    justify-content: flex-end;
}
.nav-left, .nav-right {
    align-items: stretch;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}
.modal, .nav-left, .tabs {
    overflow: hidden;
}
.button, .nav-left, .tabs, .tag {
    white-space: nowrap;
}
.nav-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    justify-content: center;
    padding: .5rem .75rem;
}
 a.nav-item {
     padding: 20px 12px;
     display: inline-flex;
     color: #dfdfdf;
	 transition: transform 250ms ease-in-out;
}
 a.nav-item:hover {
     color: #fff;
     transform: scale(1.1);
}
.avatar {
     height: 175px;
     border-radius: 50%;
}
.title {
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
}
.subtitle {
    color: #fff;
    text-align: center;
    font-size: 1.25em;
}
.lead {
	font-size: 1.15rem;
}
.popup {
	transition: transform 250ms ease-in-out;
}
.popup:hover {
     transform: scale(1.05);
}
.social-container img {
     max-width: 100%;
     max-height: 175px;
     margin-bottom: 15px;
}
.social-icons {
     max-width: 35%;
     max-height: 35%;
}
.project-div {
     background-color: transparent;
	 border: 4px solid #1A3A59;
	 border-radius: 25px;
	 margin: 10px 5px;
}
.backTop {
	padding: 15px 20px;
	border-radius: 15px;
	font-size: 1.5rem;
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: white;
	background-color: #1e90ffcc;
	z-index: 10;
	cursor: pointer;
}
#contact input, textarea {
	width: 65%;
	border-radius: 5px;
	border: 0;
	padding: 10px;
	color: white;
	font-size: 1.1rem;
	background-color: #1A3A59;
}
#contact textarea {
	height: 100px;
	resize: none;
}
#contact button {
	width: 40%;
	height: 45px;
	background: #1E74D2;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	border: none;
	font-size: 1.01rem;
	cursor: pointer;
}
#contact button:hover {
	background: #1E64C8;
}
#contact label {
	width: 65%;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	background-color: #1A3A59;
}
#contact label > span span {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	cursor: text;
	color: #99AABB;
	transform-origin: 0% 50%;
	transition: transform 200ms ease-in-out;
}
#contact label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
	transform: scale(0.65) translateY(-50px);
}
#contact .is-empty, .field {
	width: 100%;
	outline: none;
	display: block;
	transition: opacity 200ms ease-in-out;
}
#contact .field::-webkit-input-placeholder { color: #8898AA; }
#contact .field::-moz-placeholder { color: #8898AA; }
#contact .field:-ms-input-placeholder { color: #8898AA; }
#contact .field.is-empty:not(.is-focused) {
	opacity: 0;
}
#captchaError {
	display: none;
	color: red;
}
#contact .g-recaptcha > div {
	display: inline-block;
	margin: 20px 0;
}

@media screen and (max-width: 800px) {
   #navLinks {
     padding-top: 60px;
     display: block;
   }
   #bars {
     margin: 20px;
     display: block;
     cursor: pointer;
   }
   .sidenav {
	 width: 100%;
	 height: 0;
	 position: fixed;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 background-color: #1A3A59F1;
	 overflow-x: hidden;
	 transition: 0.5s;
	 padding-top: 0;
	 border-bottom-left-radius: 40px;
	 border-bottom-right-radius: 40px;
   }
   .sidenav a {
     padding: 10px;
     text-decoration: none;
     font-size: 20px;
     color: #B1B1B1;
     display: block;
     transition: 0.5s;
   }
   .sidenav a:hover {
     color: #F1F1F1;
   }
   .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   .lead {
	   font-size: 1rem;
   }
   .social-icons {
        width: 25%;
        height: 25%;
   }
}